* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

.navbar {
  padding: 0.8rem 9%;
  /* padding-inline: 0.5rem; */
  /* padding-inline: clamp(0.1rem, 10%, 9.6rem); */
  /* padding-block: clamp(10%, 10vh, 10%); */
  /* padding-block: 1.5rem; */
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffffe3;
  position: fixed;
  width: 100%;
  height: fit-content;
  top: 0;
  bottom: 0;
  z-index: 100;

  .navLogo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .wraper {
    width: 30rem;
    display: flex;
    align-items: center;
    justify-content: center;

    .button {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 0 1rem;
      cursor: pointer;
      transition: all ease-in 1s;
      color: black;

      &.active {
        .tooltip {
          border-bottom: solid;
        }
        .t1,
        .t2,
        .t3 {
          width: 4rem;
        }

        .t4 {
          width: 5.2rem;
        }

        .t5 {
          width: 6.4rem;
        }
        .t6 {
          width: 5.2rem;
        }
      }

      .icon {
        padding-right: 5px;
        transition: all 1s;

        /* &:hover {
          padding-right: 5px;
        } */
      }

      .tooltip {
        width: 0;
        overflow: hidden;
        transition: all 1s;
      }

      &:hover {
        .t1,
        .t2,
        .t3 {
          width: 4rem;
        }

        .t4 {
          width: 5.2rem;
        }

        .t5 {
          width: 6.4rem;
        }
        .t6 {
          width: 5.2rem;
        }
      }
    }
  }

  .moonbar {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.5rem;

    .span1 {
      display: grid;
      place-items: center;
      /* background-color: grey; */
      border-radius: 50%;
      width: 2.3rem;
      height: 2.3rem;

      .fa-moon {
        transform: rotate(-15deg);
        cursor: pointer;
      }

      &:hover {
        background-color: rgba(60, 64, 67, 0.08);
        /* box-shadow: 0px 1px 4px 3px rgba(60, 64, 67, 0.08); */
      }
    }
  }
  .mobilemenu {
    display: none;
    overflow: hidden;

    .span1 {
      display: grid;
      place-items: center;
      /* background-color: grey; */
      border-radius: 50%;
      width: 2.5rem;
      height: 2.5rem;

      .fa-moon {
        transform: rotate(-15deg);
        cursor: pointer;
      }

      &:hover {
        background-color: rgba(60, 64, 67, 0.08);
        /* box-shadow: 0px 1px 4px 3px rgba(60, 64, 67, 0.08); */
      }
    }

    .bar {
      .span1 {
        place-items: center;
        /* background-color: grey; */
        border-radius: 50%;
        width: 2.5rem;
        height: 2.5rem;

        &:hover {
          background-color: rgba(60, 64, 67, 0.08);
          /* box-shadow: 0px 1px 4px 3px rgba(60, 64, 67, 0.08); */
        }
      }
      .mobilewrapper {
        /* display: flex; */
        position: absolute;
        /* top: 2rem;
        right: 2.4rem; */
        top: 0;
        right: 0;
        width: 0;
        height: 0;
        padding: 0;
        font-size: 2rem;
        border-radius: 1rem 0rem 1rem 1rem;
        background-color: var(--theme-color);
        overflow: hidden;
        /* transition: width 1s ease-in-out, height 1s ease-in-out; */
        transition: all 1s;

        .button {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          padding: 1rem;
          cursor: pointer;
          transition: all ease-in 1s;
          color: black;

          &.active {
            .tooltip {
              border-bottom: solid;
            }
            .t1,
            .t2,
            .t3 {
              width: 5.5rem;
            }

            .t4 {
              width: 6.7rem;
            }

            .t5 {
              width: 7.9rem;
            }
            .t6 {
              width: 6.7rem;
            }
          }

          .icon {
            padding-right: 5px;
            transition: all 1s;

            /* &:hover {
            padding-right: 5px;
          } */
          }

          .tooltip {
            width: 0;
            overflow: hidden;
            transition: all 1s;
          }

          &:hover {
            .t1,
            .t2,
            .t3 {
              width: 5.5rem;
            }

            .t4 {
              width: 6.7rem;
            }

            .t5 {
              width: 7.9rem;
            }
            .t6 {
              width: 6.7rem;
            }
          }
        }
      }
      &:hover {
        .mobilewrapper {
          width: 15rem;
          height: 24rem;
          /* top: 0;
          right: 0; */
          padding: 1rem;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  /* .navbar {
        padding: 1rem 5%;
    } */
}

@media screen and (max-width: 845px) {
  .navbar {
    padding: 0.8rem 4%;

    .navLogo {
      font-size: 20px;
    }
    .wraper {
      display: none;
    }
    .moonbar {
      display: none;
    }
    .mobilemenu {
      display: flex;
    }
  }
}
