.footer {
  padding: 1.2rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 4rem; */
  background-color: var(--theme-color);

  .p {
    padding: 1px;
    font-size: larger;
    .social-icons {
      margin-inline: 0.2rem;
      color: black;
    }
  }
}

@media screen and (max-width: 425px) {
  .footer {
    flex-direction: column;
    padding: 0.5rem;

    .p {
      .social-icons {
        font-size: x-large;
      }
    }
  }
}
